<p id="sign-up-heading" class="txt-center">
    Sign-Up
</p>



<form action="users/sign-up" id="sign-up-form">

    <div id="bar-1">
        <div>
            <label for="email">
                <font>Email</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
            </label><br>
            <input name="email" type="email" required id="email" placeholder="Enter Your Email.">    
        </div>
        <div>
            <label for="Username">
                <font>Name</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
            </label><br>
            <input name="name" type="text" required id="Username" placeholder="Enter Your Name.">
        </div>
    </div>

    <div id="bar-1">
        <div>
            <label for="password">
                <font>Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
            </label><br>
            <input name="password" type="password" required id="password" placeholder="Create Password.">    
        </div>
        <div>
            <label for="Cpassword">
                <font>Confirm Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
            </label><br>
            <input name="Cpassword" type="password" required id="Cpassword" placeholder="Confirm Password.">
        </div>
    </div>

    <button type="submit" id="btn-log-in">
        <i class="fas fa-user-plus"></i> Sign-Up
    </button>
    <a href="/sign-in" id="sign-in-question">
        Are you a existing user? 
    </a>

</form>
